@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #3730a3 transparent;
  }

  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3730a3;
    border-radius: 3px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #4f46e5;
  }
}

@layer components {
  .card {
    @apply rounded-xl border border-gray-800/60 bg-gray-900/80 p-4;
  }
}
